<%- include("header.ejs")%>
    <div id="listCon">
        <h1>
            <% if(title=="search" ){%>
                <p>Search results for:</p>
                <%=query%>
                    <%}else if(title=="overdue" ){%>
                        <p>Overdue Items:</p>
                        <%}else{%>
                            <%=title %>
                                <%}%>
        </h1>
        <% for(var i=0;i<lists.length;i++){%>
            <div class="listBox">
                <h2>
                    <%=lists[i].title%>
                </h2>
                <%if(lists[i].type!="note"){%>
                <form action="/<%=title %>" method="post">
                    <input type="checkbox" class="<%=lists[i].deadline%>" name="id" value="<%=lists[i]._id%>"
                        onchange="this.form.submit()">
                </form>
                <%}%>


                <div class="listdetails">
                    <a href="#" class="trigger" id="trigBtn<%=i%>">&#10247</a>


                </div>

                <div id="desModal<%=i%>" class="modal">
                    <div class="modal-content">
                        <span class="close" id="close<%=i%>">&times;</span>
                        <div class="desDiv">
                            <h1>Task Details</h1>
                            <div class="desDivChild">Title:&nbsp;&nbsp;<%=lists[i].title%>
                            </div>
                            <div class="desDivChild">Description:&nbsp;&nbsp;<%=lists[i].description%>
                            </div>
                            <div class="desDivChild">Type:&nbsp;&nbsp;<%=lists[i].type%>
                            </div>
                            <div class="desDivChild deadline">Due Date:&nbsp;&nbsp;<%=lists[i].deadline%>
                            </div>
                            <div class="desDivChild">Tag:&nbsp;&nbsp;<%=lists[i].tag%>
                            </div>
                            <div class="desDivChild">Priority:&nbsp;&nbsp;<%=lists[i].priority%>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <%}%>


    </div>
    <% if(!(title=="search" )){%>

        <button id="addtaskbutton">Add</button>

        <%}%>
            <div id="addtaskModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="formclose">&times;</span>
                    <div id="formCon">
                        <form action="/" method="post">
                            <label for="title">Title</label><input type="text" name="title">
                            <label for="description">Description</label>
                            <textarea name="description" cols="30" rows="10"></textarea>
                            
                            <!-- <input type="text" name="description"> -->
                            <label for="tag">Tag</label><input type="text" name="tag">
                            <label for="type">Frequency</label>
                            <select name="type" id="type">
                                <option value="task">Task</option>
                                <option value="note">Note</option>
                            </select>
                            <label for="deadline">Deadline</label>
                            <input type="date" name="deadline" id="deadline"><input type="time" name="time" id="time">
                            <label for="priority">Priority</label>
                            <select name="priority" id="priority">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <input type="hidden" name="listname" value="<%=title%>" >
                            <button type="submit" value=<%=title%>>Add</button>

                        </form>
                    </div>
                </div>

            </div>






            <%- include("footer.ejs")%>